.n-box {
  position: absolute;
  width: 250px;
  height: 317px;
  top: 20px;
  left: 504px;
  border-radius: 8px;
  background: #ffffff;
}

.n-img {
  position: absolute;
  width: 250px;
  height: 155px;
  top: 0px;
 
}

.n-shad {
  position: absolute;
  width: 250px;
  height: 60px;
  top: 83px;
  left: 0px;
  background: rgba(0, 0, 0, 0.74);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.n-content {
  position: absolute;
  top: 150px;
  line-height: 10px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: justified;
  color: rgba(39, 39, 39, 1);
}

.pre-btn {
  position: absolute;
  top: 297px;
  width: 0px;
  left: 0px;
  border-radius: 8px;
  border: none;
  text-align: center;
  height: 2px;
  background: #ffffff;
}

.nxt-btn {
  position: absolute;
  top: 297px;
  width: 0px;
  left: 230px;
  border-radius: 8px;
  border: none;
  text-align: center;
  height: 2px;
  background: #ffffff;
}
